{% extends "layouts/auth.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <form id="loginForm" data-on:submit="@post('login/handle', { contentType: 'form', selector: '#loginForm' })">
        <label>
            Email:
            <input type="email" name="email" required />
        </label>
        <label>
            Password:
            <input type="password" name="password" required />
        </label>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
